/* Pealkirjade fondi suurused */
h1 {
    font: 500 clamp(20px, 60px, 100px)/1.3 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

h2 {
    font: 500 clamp(20px, 35px, 40px)/1.3 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

/* Pildi suurused */
.team-img {
    border-radius: 12px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1); 
    width: 35%;      
    height: auto;
    flex-shrink: 0
}

/* Keha struktuur/paigutus */
body {       
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e6eef8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;

  color: #e6eef8;
  background: radial-gradient(
      1200px 700px at 80% -10%,
      rgba(253, 121, 13, 0.2),
      transparent 60%
    ),
    radial-gradient(
      700px 1200px at -10% 20%,
      rgba(253, 121, 13, 0.2),
      transparent 60%
    ),
    #0c0f13;
   background-repeat: no-repeat;
   background-attachment: fixed; 

}
.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
    margin-top: 20px;
}

/* Tausta/ümbrus kast mängijad sektsioonile */
.players, .results {   
    flex: 1;
    background-color: #0e1117; 
    padding: 15px;
    border-radius: 16px;
    text-align: justify;
    border: 2px solid #0c0f13; 
}
.players ul {
    list-style: none;              
    padding-left: 20px;                   
    margin: 0;
}
.players ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    margin-bottom: 6px; 
    position: relative;
    font: 500 16px/1.3 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.players ul li::before {
    content: "•";         /* bullet */
    color: #e6eef8;         /* täpi värv */
    font-weight: bold;
    display: inline-block;
    width: 1em;
}
.players h3 {
    text-align: center;
}

/* Saavutuste tabeli tasut/ümbrus ja enda kujundus */     
.table {
    width: 50%;
    justify-content: center;
    flex: 1;
    background-color: #0e1117; 
    padding: 15px;
    border-radius: 16px;
    border: 2px solid #0c0f13;  
}
.table th {
    border: 2px solid #0c0f13;
    background-color: #0c0f13
}
.table td {
    background-color: #0e1117
}
.table th,
.table td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font: 500 16px/1.3 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

/* Paneb 1. tulba vasakule */
table td:first-child {
  text-align: left;
}
/* Paneb 2. tulba keskele */
table td:nth-child(2) {
  text-align: center;
}
.table table {
    margin: 0 auto;  /* paneb tabeli kastis keskele */
    border-collapse: collapse;   /* tabelis ei ole vahesid */
}

/* Meeskonnakirjelduse ja intro paragraafi kujundus ja taust/ümbrus  */
.põhitekst_kitsas {        /* Teeb paragraafi kitsamaks */
    max-width: 1000px;   
    width: 100%;
    margin-top: 20px;
    text-align: justify;
    font: 500 16px/1.3 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.pikkemtekst {  /* Meeskonna paragraaf */
    flex: 1;
    background-color: #0e1117; /* taust */
    padding: 15px;
    border-radius: 16px;
    text-align: justify;
    border: 2px solid #0c0f13; 
}
.algustekst {     /* Introteksti paigutus */
    text-align: justify
}
.koguplokk {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    background-color: #11161d; 
    padding: 15px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid #0c0f13; 

    background: linear-gradient(
    180deg,
    color-mix(in oklab, #11161d, #1b2735 30%),
    #11161d
    );
    border: 1px solid color-mix(in oklab, #11161d, #000 35%);
    border-radius: 18px;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Nuppu kujundus */
#scroll-btn {       
    opacity: 0;   
    width: 125px;
    height: 50px;
    color: #e6eef8;
    background-color: #11161d;
    position: fixed;
    bottom: 10%;
    right: 10%;    
    border: 2px solid #0c0f13;
    border-radius: 10%; 
    font: bold 20px monospace;       
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {      
    opacity: 1;  
    transition: opacity 1s, transform 1s;     
}

/* Headir asjad */
/* Värvid/disain */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
  backdrop-filter: blur(12px); 
  background: color-mix(in oklab, #0c0f13 85%, transparent);
  border-bottom: 1px solid color-mix(in oklab, #11161d, #fff 5%);
  transition: all 0.3s ease-in-out;
}
/* Kogu paigutus headirl */
.konteiner.nav {
  display: flex;
  align-items: center;
  padding: 14px 0;
  width: min(1100px, 92%);
  margin: 0 auto;
}
/* Cs'i pildi kujundus headeril */
.konteiner.nav > div:first-child img {
  width: 360px;
  height: auto;
  display: block;
  filter: brightness(0) invert(1);
}
/* Vahe */
.nav-spacer {
  flex: 1;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
/* Teiste lehtede nuppude asjad */
}
header nav a {
  text-decoration: none;
  padding: 10px 12px;
  font-weight: 600;
  color: #e6eef8;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
header.peidus {
  transform: translateY(-100%);
  opacity: 0;
}
